{% extends "modelo.html" %} {% block conteudo %}
<div class="container-principal"></div>
<p class="texto-principal">
Olá pessoal!
bem vindo(a) ao meu Dicionário de TI! Nele você encontrará termos técnicos da área de Tecnologia da Informação (TI) com suas respectivas definições. O objetivo deste dicionário é fornecer uma referência rápida e acessível para profissionais, estudantes e entusiastas de TI que desejam entender melhor os conceitos e terminologias utilizados no campo da tecnologia. Você  também pode adicionar novos termos ao dicionário, basta clicar em "Glossário" no menu acima e depois em "Novo Termo". Aproveite a navegação!

    </p>

    <a href="/sobre-equipe" style="text-emphasis-style:inherit; color: ghostwhite; font-family: Verdana, Geneva, Tahoma, sans-serif;">Próxima página</a>
</div>


<footer class="rodape-principal">
    <p>Eduardo Vitor Cabral Neves.</p>
    <p>Desenvolvedor Web</p>
    <p><a href="https://www.linkedin.com/in/eduardovcn" target="_blank">Meu Linkedin</a></p>
</footer>

{% endblock %}
